h1 {
    color: rgb(8, 109, 87);
    text-align: center;
}

.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

p {
    text-align: center;
    display: inline;
    font-size: 25px;
}