:root {
    --dark:#155e6b;
    --light: #ffffff;
    --navlink-color: #9ad6c4;
}

h1 {
    text-align: center;
    color: var(--light);
}

#form {
    background-color: var(--dark);
    text-align: center;
}