:root {
    --dark:#155e6b;
    --light: #ffffff;
    --navlink-color: #9ad6c4;
}

header {
    text-align: center;
    background-color: var(--dark);
}

h1 
h2 {
    text-align: center;
    background: var(--dark);
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    text-align: center;
    font-size: 20px;
    /* padding-left: 15%;
    padding-right: 15%; */
    padding-bottom: 35%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* box-shadow: #ffffff; */
} 

a:hover {
    transition:.5s;
    color: #fff;
    /* background-color: var(--navlink-color); */
    border-style: none; 
}

