:root {
    --dark:#155e6b;
    --light: #ffffff;
    --navlink-color: #c2e9dd;
}

.me-auto {
    text-align: center;
    margin-bottom: 30px;
}

a:hover {
    transition:.5s;
    color: #fff;
    background-color: var(--navlink-color);
    border-style: none;
}

.linkButton {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    display: grid;
    border-style: none;
}

