:root {
    --dark:#155e6b;
    --light: #ffffff;
    --navlink-color: #9ad6c4;
}

nav{
    text-align: center;
    margin-bottom: 30px;
}

a:hover {
    transition:.5s;
    color: #fff;
    background-color: var(--dark);
    border-style: none;
}