:root {
    --dark:#155e6b;
    --light: #ffffff;
    --navlink-color: #9ad6c4;
}


h1 {
    text-align: center;
    background: var(--dark);
    font-size: 36px;
    padding-top: 15%;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section p {
    text-align: center;
    color: var(--light);
    font-size: 20px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 